<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation">
    <listeners>
        <listener class-name="Utils.Common.Listeners.Listeners"></listener>
    </listeners>
    <test name="user login">
        <classes>
            <class name="UserService.Users"></class>
        </classes>
    </test>
</suite>